<md-card>
  <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
    <md-input-container>
      <input mdInput formControlName="invitationCodes" type="text" placeholder="邀请码"
             required minlength="6" autocomplete="off">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="from" type="date" placeholder="开始时间" required>
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="to" type="date" required placeholder="结束时间">
    </md-input-container>
    <button md-raised-button type="submit" color="primary" [disabled]="!searchForm.valid" required>搜索</button>
  </form>
</md-card>
<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <md-card-header>
    <md-icon mdTooltip="统计数据有一天的延迟" mdTooltipPosition="after">help_outline</md-icon>
  </md-card-header>
  <md-card-content>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable app-table">
      <thead>
      <tr>
        <th *ngFor="let columnsSetting of settings.columns"
            [ngClass]="{'mdl-data-table__cell--non-numeric': !columnsSetting.numeric}">
          {{columnsSetting.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of source;">
        <td [ngClass]="{'mdl-data-table__cell--non-numeric': !settings.columns[0].numeric}">
          {{row.inviterName}}【{{row.inviterMobile}}】
        </td>
        <td [ngClass]="{'mdl-data-table__cell--non-numeric': !settings.columns[1].numeric}">
          {{row.invitationCode}}
        </td>
        <td [ngClass]="{'mdl-data-table__cell--non-numeric': !settings.columns[2].numeric}">
          <a color="Primary" (click)="openDialog('invitees', row.invitationCode)">{{row.inviteeNum}}</a>
        </td>
        <td [ngClass]="{'mdl-data-table__cell--non-numeric': !settings.columns[3].numeric}">
          <a color="Primary"
             (click)="openDialog('classrooms', row.invitationCode)">{{row.classroomNum}}</a>
        </td>
        <td [ngClass]="{'mdl-data-table__cell--non-numeric': !settings.columns[4].numeric}">
          <a color="Primary" (click)="openDialog('users', row.invitationCode)">{{row.userNum}}</a>
        </td>
      </tr>
      </tbody>
    </table>
    <p *ngIf="!source || source.length === 0" style="text-align: center; margin-top: 8px">没有数据</p>
    <!--<app-table [settings]="settings" [source]="source"></app-table>-->
    <app-pagination [page]="page" (onSwitchPage)="onSwitchPage($event)"></app-pagination>
  </md-card-content>
</md-card>
