<div class="app-dialog-container">
  <h3 md-dialog-title *ngIf="title">{{title}}</h3>
  <p md-dialog-content>{{content}}</p>
  <div md-dialog-actions class="app-row-reverse-container">
    <div class="app-item-container">
      <button md-button color="primary" [disabled]="affirmativeAction.disabled" (click)="dialogRef.close('ok')">{{affirmativeAction.text}}</button>
    </div>
    <div class="app-item-container">
      <button md-button color="primary" [disabled]="dismissiveAction.disabled" (click)="dialogRef.close('cancel')">{{dismissiveAction.text}}</button>
    </div>
  </div>
</div>