<md-card>
  <md-card-content>
    <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
      <md-input-container>
        <input mdInput formControlName="invitationCodes" type="text" placeholder="邀请码" required minlength="6" autocomplete="off">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="from" type="date" placeholder="开始时间" required>
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="to" type="date" required placeholder="结束时间">
      </md-input-container>
      <button md-raised-button type="submit" color="primary" [disabled]="!searchForm.valid">搜索</button>
    </form>
  </md-card-content>
</md-card>
<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <app-toolbar [toolbar]="toolbar"></app-toolbar>
  <md-card-content perfect-scrollbar>
    <app-table [columns]="columns" [data]="page.content">
      <ng-template #inviterDisplay let-row="row">
        {{row.inviterName}}（{{row.mobile}}）
      </ng-template>
      <ng-template #viewImpl let-value="value" let-column="column" let-row="row" let-index="index">
        <app-view [text]="value" [value]="{
          value: value,
          column: column,
          row: row,
          index: index
        }" (view)="openViewDialog($event)"></app-view>
      </ng-template>
    </app-table>
    <app-pagination [page]="page" [pageable]="pageable" (pageableChange)="load($event)"></app-pagination>
  </md-card-content>
</md-card>
<iframe src="" style="display:none;" id="downloadIFrame"></iframe>
