<md-card>
  <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
    <md-input-container>
      <input mdInput formControlName="keyword" type="text" placeholder="关键字" autocomplete="off">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="from" type="date" placeholder="开始时间" autocomplete="off">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="to" type="date" placeholder="结束时间" autocomplete="off">
    </md-input-container>
    <button md-raised-button type="submit" color="primary" [disabled]="!searchForm.valid" required>搜索</button>
  </form>
</md-card>
<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <md-card-header>
    <div class="app-row-reverse-container">
      <div class="app-item-container">
        <button md-icon-button>
          <md-icon>more_vert</md-icon>
        </button>
      </div>
      <div class="app-item-container">
        <button md-icon-button>
          <md-icon>sort</md-icon>
        </button>
      </div>
    </div>
  </md-card-header>
  <md-card-header>
  </md-card-header>
  <md-card-content>
    <app-table [columns]="columns" [data]="page.content" (view)="openViewDialog($event)"></app-table>
    <app-pagination [page]="page" (change)="switchPage($event)"></app-pagination>
  </md-card-content>
</md-card>
