<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <app-toolbar [toolbar]="toolbar"></app-toolbar>
  <md-card-content perfect-scrollbar>
    <app-table [columns]="columns" [data]="page.content">
      <ng-template #statusImpl let-value="value">
        <ng-container [ngSwitch]="value">
          <md-icon *ngSwitchCase="'DELETED'" md-tooltip="已删除">block</md-icon>
          <md-icon *ngSwitchCase="'PRIVATE'" md-tooltip="正常">visibility_off</md-icon>
          <md-icon *ngSwitchDefault md-tooltip="正常">visibility</md-icon>
        </ng-container>
      </ng-template>
      <ng-template #previewImpl let-value="value" let-row="row">
        <app-preview [text]="value" [thumbnail]="row.avatar?.small" [original]="row.avatar?.big"></app-preview>
      </ng-template>
    </app-table>
    <app-pagination [page]="page" [pageable]="pageable" (pageableChange)="load($event)"></app-pagination>
  </md-card-content>
</md-card>
