<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <app-toolbar [selected]="selected" [toolbar]="toolbar"></app-toolbar>
  <md-card-content perfect-scrollbar>
    <app-table [columns]="columns" [data]="page.content" [selectable]="true" (select)="select($event)">
      <ng-template #chipListImpl let-value="value" let-column="column" let-row="row" let-index="index">
        <md-chip-list>
          <md-chip *ngFor="let role of value">{{role.name}}</md-chip>
        </md-chip-list>
      </ng-template>
      <ng-template #editImpl let-value="value" let-column="column" let-row="row" let-index="index">
        <a><md-icon style="size: 18px; color: rgba(0, 0, 0, .54)">mode_edit</md-icon></a>
      </ng-template>
    </app-table>
    <app-pagination [page]="page" [pageable]="pageable" (pageableChange)="load($event)"></app-pagination>
  </md-card-content>
</md-card>
