<div class="login-container">
  <md-card>
    <md-card-title><img alt="晓黑板" title="晓黑板" src="/assets/img/logo-brown.png">管理系统</md-card-title>
    <md-card-subtitle>登录后继续</md-card-subtitle>
    <md-card-content>
      <form class="login-from" [formGroup]="loginForm" novalidate (ngSubmit)="login()">
        <!--<p>{{message}}</p>-->
        <md-input-container>
          <input mdInput type="text" formControlName="username" required name="username" placeholder="用户名" minlength="1" maxlength="24">
        </md-input-container>
        <md-input-container>
          <input mdInput type="password" formControlName="password" required name="password" placeholder="密码" minlength="1" maxlength="24">
        </md-input-container>
        <div class="form-row">
          <md-checkbox class="form-row-item" formControlName="rememberMe">记住我</md-checkbox>
          <a routerLink="/dashboard">忘记密码</a>
        </div>
        <button class="form-row-item" type="submit" md-raised-button color="primary" [disabled]="!loginForm.valid">登录</button>
      </form>
    </md-card-content>
  </md-card>
</div>
