<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <app-toolbar [toolbar]="toolbar"></app-toolbar>
  <md-card-content perfect-scrollbar>
    <app-table [columns]="columns" [data]="page.content">
      <ng-template #previewImpl let-value="value" let-row="row">
        <app-preview [text]="value" [thumbnail]="row.avatar?.small" [original]="row.avatar?.big"></app-preview>
      </ng-template>
    </app-table>
    <app-pagination [page]="page" [pageable]="pageable" (pageableChange)="load($event)"></app-pagination>
  </md-card-content>
</md-card>
