<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <app-toolbar [toolbar]="toolbar"></app-toolbar>
  <md-card-content>
    <app-table [columns]="columns" [data]="page.content">
      <ng-template #previewImpl let-value="value" let-row="row">
        <app-preview [text]="value" [thumbnail]="row.avatar?.small" [preview]="row.avatar?.big"></app-preview>
      </ng-template>
      <ng-template #viewImpl let-value="value" let-column="column" let-row="row" let-index="index">
        <app-view [text]="value" [value]="{
          value: value,
          column: column,
          row: row,
          index: index
        }" (view)="openViewDialog($event)"></app-view>
      </ng-template>
    </app-table>
    <app-pagination [page]="page" (change)="loadPage($event)"></app-pagination>
  </md-card-content>
</md-card>
