<div class="app-dialog-container">
  <h3 md-dialog-title *ngIf="title">
    {{title}}
  </h3>
  <perfect-scrollbar md-dialog-content>
    <p *ngIf="!inQuery && (page?.content?.length === 0)" class="empty-message">
      列表为空
    </p>
    <md-card *ngFor="let item of page.content">
      <md-card-header>
        <img md-card-avatar [attr.src]="item.classroom ? resourceHelper.resolveClassroomImageUrl(item.classroom) : resourceHelper.resolveUserImageUrl(item.sender)">
        <md-card-title>
          {{userHelper.resolveMessageTitle(item.classroom, item.sender)}}
          <md-icon *ngIf="item.direction === 'INCOMING'" class="material-icons md-18" style="color: rgb(139, 195, 74);">call_received</md-icon>
          <md-icon *ngIf="item.direction === 'OUTGOING'" class="material-icons md-18" style="color: rgb(139, 195, 74);">call_made</md-icon>
        </md-card-title>
        <md-card-subtitle>{{item.createTime | date: "yyyy.MM.dd HH:mm"}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p *ngIf="item.content" class="app-line-limit-length mat-body-1" appLimitedLine [maxWidth]="496">
          {{item.content | blackboardMessage}}
        </p>
        <div *ngIf="item.audio || item.topic || item.survey || item.video || item.images">

          <!-- 晓讨论 -->
          <p *ngIf="item.topic" class="app-content" appLimitedLine [maxWidth]="496">
            <md-icon>chat</md-icon>
            {{item.topic.content | blackboardMessage}}
            <!-- 图片 -->
            <app-preview *ngFor="let image of item.topic.images"
                         thumbnail="{{environment.imgProxyUrl}}?url={{image.thumbnail}}&defaultImage=wen.png"
                         original="{{environment.imgProxyUrl}}?url={{image.original}}&defaultImage=wen.png">
            </app-preview>
          </p>

          <!-- 晓活动 -->
          <app-activity-message *ngIf="item.activity" [message]="item"></app-activity-message>
          <!-- 晓成长 -->
          <!--<app-activity-message *ngIf="item.activity" [message]="item"></app-activity-message>-->

          <!-- 晓调查 -->
          <div *ngIf="item.survey">
            <p *ngIf="item.survey" class="app-content" appLimitedLine [maxWidth]="496">
              <md-icon>insert_chart</md-icon>
              {{item.survey.subject | blackboardMessage}}
            </p>
            <md-list class="survey" dense>
              <md-list-item *ngFor="let key of getSortedKeys(item.survey.surveyOptions)"
                            appLimitedLine
                            [maxWidth]="496">
                <span class="survey-counter">{{key}}.</span>
                <app-preview *ngIf="item.survey.surveyOptions[key].image"
                             thumbnail="{{environment.imgProxyUrl}}?url={{environment.fileUrl}}/{{item.survey.surveyOptions[key].image.thumbnail}}&defaultImage=wen.png"
                             original="{{environment.imgProxyUrl}}?url={{environment.fileUrl}}/{{item.survey.surveyOptions[key].image.original}}&defaultImage=wen.png">
                </app-preview>
                <!--<img class="opt-img app-thumbnail" *ngIf="item.survey.surveyOptions[key].image" height="28" alt="图片"-->
                     <!--src="{{environment.imgProxyUrl}}?url={{environment.fileUrl}}/{{item.survey.surveyOptions[key].image.original}}&defaultImage=wen.png">-->
                {{item.survey.surveyOptions[key].value | blackboardMessage}}
              </md-list-item>
            </md-list>
          </div>

          <!-- 语音 -->
          <p *ngIf="item.audio" class="app-content">
            <md-icon>mic</md-icon>
          </p>
          <audio *ngIf="item.audio" [attr.src]="resourceHelper.resolveAudioUrl(item.audio.id)" controls="controls"></audio>

          <!-- 视频 -->
          <p *ngIf="item.video" class="app-content" appLimitedLine [maxWidth]="496">
            <md-icon>videocam</md-icon>
            {{item.video.desc | blackboardMessage}}
          </p>
          <video *ngIf="item.video" [attr.src]="resourceHelper.resolveVideoUrl(item.video.playUrl)" width="320" controls="controls"></video>

          <!-- 图片 -->
          <app-preview *ngFor="let image of item.images"
                       [thumbnail]="resourceHelper.resolveImageUrl(image.thumbnail)"
                       [original]="resourceHelper.resolveImageUrl(image.original)">
          </app-preview>
          <!--<img class="msg-img app-thumbnail" *ngFor="let image of item.images" width="32" height="32" alt="图片"-->
               <!--src="{{environment.imgProxyUrl}}?url={{environment.fileUrl}}/{{image.original}}&defaultImage=wen.png">-->
        </div>
      </md-card-content>
    </md-card>
  </perfect-scrollbar>
  <div md-dialog-actions>
    <app-pagination [page]="page" [pageable]="pageable" (pageableChange)="load($event)"></app-pagination>
  </div>
  <md-progress-bar class="app-progress-bar-bottom" mode="indeterminate" *ngIf="inQuery"></md-progress-bar>
</div>
