<md-card>
  <md-card-content>
    <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
      <md-input-container floatPlaceholder="auto">
        <input mdInput formControlName="month" type="month" required placeholder="月份">
      </md-input-container>
      <button md-raised-button type="submit" color="primary" [disabled]="!searchForm.valid" required>搜索</button>
    </form>
  </md-card-content>
</md-card>
<md-card>
  <md-card-header>
    <md-card-subtitle>该月注册用户总数：{{total}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div id="mainGraph" style="height: 600px;"></div>
  </md-card-content>
</md-card>
