<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <app-toolbar [selected]="selected" [toolbar]="toolbar"></app-toolbar>
  <md-card-content>
    <app-table [columns]="columns" [data]="page.content" [selectable]="true" (select)="select($event)">
      <ng-template #weightImpl let-value="value">
        <md-slider min="0" max="10" step="1" [value]="value" thumbLabel disabled></md-slider>
      </ng-template>
    </app-table>
    <app-pagination [page]="page" (change)="load($event)"></app-pagination>
  </md-card-content>
</md-card>
