<h1 md-dialog-title>添加权限</h1>
<form md-dialog-content [formGroup]="createForm" novalidate (ngSubmit)="create()">
  <md-error>{{error}}</md-error>
  <div fxLayout="column" fxLayout="row">
    <md-input-container fxFlex>
      <input mdInput formControlName="name" type="text" placeholder="权限名" autocomplete="off" required>
    </md-input-container>
  </div>
  <div fxLayout="column" fxLayout="row">
    <md-input-container fxFlex>
      <input mdInput formControlName="description" type="text" placeholder="描述" autocomplete="off">
    </md-input-container>
  </div>
  <div fxLayout="column" fxLayout="row">
    <md-input-container fxFlex>
      <input mdInput formControlName="url" type="text" placeholder="权限路径" autocomplete="off" required>
    </md-input-container>
  </div>
  <div fxLayout="column" fxLayout="row">
    <button md-raised-button type="submit" color="primary" [disabled]="!createForm.valid" fxFlex>
      创建
    </button>
  </div>
</form>
