<md-card>
  <md-card-content>
    <form [formGroup]="createForm" novalidate (ngSubmit)="create()">
      <div>
        <md-input-container>
          <input mdInput formControlName="title" type="text" placeholder="标题" autocomplete="off">
        </md-input-container>
      </div>
      <div>
        <textarea mdTextareaAutosize formControlName="content" rows="10" placeholder="内容" required></textarea>
      </div>
      <div>
        <md-input-container>
          <input mdInput formControlName="linkTitle" type="text" placeholder="链接标题" autocomplete="off">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input mdInput formControlName="link" type="url" placeholder="链接" autocomplete="off">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input mdInput formControlName="verificationCode" type="text" placeholder="验证码" required autocomplete="off">
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="token" type="text" placeholder="令牌" required minlength="24" maxlength="24"
                 autocomplete="off">
        </md-input-container>
        <md-select placeholder="接收类型" formControlName="receiverType" required>
          <md-option *ngFor="let type of receiverTypes" [value]="type.value">{{ type.name }}</md-option>
        </md-select>
        <button md-raised-button type="submit" color="primary" [disabled]="!createForm.valid">
          发送
        </button>
      </div>
    </form>
  </md-card-content>
</md-card>
