<div class="app-dialog-container">
  <h4 md-dialog-title>
    {{title}}
    <small md-subheader *ngIf="!inQuery && (items != null && items.length !== 0)">共 {{items?.length}} 项</small>
  </h4>
  <perfect-scrollbar md-dialog-content>
    <table contenteditable="true">
      <tr *ngIf="!inQuery && (items == null || items.length === 0)">
        <td class="empty-message">列表为空</td>
      </tr>
      <ng-container *ngIf="!inQuery && items != null && items.length !== 0">
        <tr *ngFor="let item of items; let i = index">
          <td class="app-table-index">{{i + 1}}</td>
          <td *ngFor="let key of getKeys(item)">
            <div [attr.title]="item[key]">{{item[key]}}</div>
          </td>
        </tr>
      </ng-container>
    </table>
  </perfect-scrollbar>
  <div md-dialog-actions *ngIf="!inQuery" class="app-row-reverse-container">
    <div class="app-item-container">
      <button md-dialog-close md-button>关闭</button>
    </div>
  </div>
</div>
<md-progress-bar class="app-progress-bar-bottom" mode="indeterminate" *ngIf="inQuery"></md-progress-bar>
