<div class="paper">
  <!--<md-list>-->
  <!--<md-list-item>-->
  <!--<md-slide-toggle>晓纸条</md-slide-toggle>-->
  <!--</md-list-item>-->
  <!--<md-list-item>-->
  <!--<md-slide-toggle>晓讨论</md-slide-toggle>-->
  <!--</md-list-item>-->
  <!--</md-list>-->
  <!--<md-list>-->
  <!--<md-list-item>-->
  <!--<md-slide-toggle>晓调查</md-slide-toggle>-->
  <!--</md-list-item>-->
  <!--<md-list-item>-->
  <!--<md-slide-toggle>晓通知</md-slide-toggle>-->
  <!--</md-list-item>-->
  <!--</md-list>-->
  <md-card *ngFor="let item of page.content">
    <md-card-header>
      <img md-card-avatar src="{{item.senderAvatar.small}}">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>{{item.createTime | date:"MM/dd/yy hh:mm:ss"}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p *ngIf="item.content" class="app-line-limit-length" [attr.title]="item.content">{{item.content}}</p>
      <div *ngIf="item.audio || item.topic || item.survey || item.video || item.images">
        <audio *ngIf="item.audio" src="{{environment.audioFileUrl}}/{{item.audio.id}}/mp3" controls="controls"
               style="width: 232px">
          <md-icon>mic</md-icon>
        </audio>
        <md-icon *ngIf="item.topic" md-tooltip="晓讨论">chat</md-icon>
        <md-icon *ngIf="item.survey" md-tooltip="晓调查">insert_chart</md-icon>
        <video *ngIf="item.video" src="{{item.video.playUrl}}" width="240" controls="controls">
          <md-icon>videocam</md-icon>
        </video>
        <img *ngFor="let image of item.images" width="24px" height="24px"
             src="{{environment.imgProxyUrl}}?url={{environment.fileUrl}}/{{image.thumbnail}}&defaultImage=wen.png">
      </div>
    </md-card-content>
  </md-card>
</div>
<app-pagination [page]="page" [pageable]="pageable" (pageableChange)="load($event)"></app-pagination>
