<md-card>
  <md-progress-bar class="app-progress-bar-top" mode="query" *ngIf="inQuery"></md-progress-bar>
  <app-toolbar [selected]="selected" [toolbar]="toolbar"></app-toolbar>
  <md-card-content>
    <app-table [columns]="columns" [data]="page.content" [selectable]="true" (select)="select($event)">
      <ng-template #weightImpl let-value="value">
        <md-slider min="1" max="5" step="1" [value]="value" thumbLabel></md-slider>
      </ng-template>
      <ng-template #previewImpl let-value="value" let-row="row">
        <app-preview [thumbnail]="row.tipUrl" [preview]="row.tipUrl"></app-preview>
      </ng-template>
    </app-table>
    <app-pagination [page]="page" (change)="loadPage($event)"></app-pagination>
  </md-card-content>
</md-card>
