.app-avatar {
  position: relative;
  width: 100%;
  z-index: 0;
  .app-avatar-thumbnail {
    margin: 8px 8px;
  }
}

.app-avatar:hover {
  background-color: transparent;
  z-index: 50;
}

.app-avatar > .app-avatar-preview { /*CSS for enlarged image*/
  position: absolute;
  left: -1000px;
  visibility: hidden;
  border-width: 0;
}

.app-avatar > .app-avatar-preview { /*CSS for enlarged image*/
  border-width: 0;
}

.app-avatar:hover > .app-avatar-preview { /*CSS for enlarged image on hover*/
  visibility: visible;
  top: 0;
  left: 80px; /*position where enlarged image should offset horizontally */
}
