.app-preview-container {
  position: relative;
  width: 100%;
  z-index: 0;
  &:hover {
    background-color: transparent;
    z-index: 50;
    > .app-preview { /*CSS for enlarged image on hover*/
      visibility: visible;
      top: 0;
      left: 80px; /*position where enlarged image should offset horizontally */
    }
  }
  .app-thumbnail {
    margin: 8px 8px;
  }
  > .app-preview { /*CSS for enlarged image*/
    position: absolute;
    left: -1000px;
    visibility: hidden;
    border-width: 0;
  }
  > .app-preview { /*CSS for enlarged image*/
    border-width: 0;
  }
}
