mdl-table-selectable tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

mdl-table-selectable th {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.mdl-data-table, .mdl-data-table td {
  border-collapse: collapse;
  border-width: 0;
}

mdl-table-selectable > table {
  width: 100%;
}
