<!--<ng2-smart-table [settings]="settings" [source]="source">-->

<!--</ng2-smart-table>-->
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable app-table condensed">
  <thead>
  <tr>
    <th *ngIf="selectable" class="app-table-checkbox">
      <md-checkbox [ngModel]="store.length && selected.length === store.length" (change)="onSelectAll($event)"></md-checkbox>
    </th>
    <th *ngFor="let column of columns" [ngClass]="{'mdl-data-table__cell--non-numeric': !column.numeric}">
      <app-table-header-cell [column]="column" [(sort)]="sort" [(direction)]="direction">{{column.name}}</app-table-header-cell>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="store.length === 0">
    <td [attr.colspan]="selectable ? columns.length + 1 : columns.length" style="text-align: center;">没有数据</td>
  </tr>
  <tr *ngFor="let row of store; let i = index">
    <td *ngIf="selectable" class="app-table-checkbox">
      <md-checkbox [ngModel]="row.selected" (change)="onRowSelect($event, row)"></md-checkbox>
    </td>
    <td *ngFor="let column of columns; let i = index" [ngClass]="{ 'mdl-data-table__cell--non-numeric': !column.numeric}">
      <app-table-body-cell [index]="i" [column]="column" [row]="row.reference"></app-table-body-cell>
    </td>
  </tr>
  </tbody>
</table>
